/target/
.project
.classpath
geeksforgeeks.iml
/.idea
/.settings
/bin
CM_PROD_GRP*
output.yml
env_output.txt
env.txt
all_envs.txt
programId.txt
storageSize.json
disable_env_output.txt
enable_env_output.txt
size.json
nodesCount.json
assets-customers.csv
disable_output.yml
cm_stage.csv
stage_env_output.txt
tmp_pid.txt
output.txt